USE [DonaldV2]
GO
/****** Object:  User [umgejemplo]    Script Date: 20/05/2026 17:51:42 ******/
CREATE USER [umgejemplo] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TipoSocioNegocio]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoSocioNegocio](
	[CodigoTipoSocioNegocio] [int] NOT NULL,
	[Descripcion] [varchar](30) NOT NULL,
	[EsPersona] [bit] NULL,
 CONSTRAINT [PK_TipoSocioNegocio] PRIMARY KEY CLUSTERED 
(
	[CodigoTipoSocioNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[CodigoProveedor] [int] NOT NULL,
	[CodigoSocio] [int] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[CodigoProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocioNegocio]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocioNegocio](
	[CodigoSocio] [int] NOT NULL,
	[PrimerNombre] [varchar](30) NULL,
	[SegundoNombre] [varchar](30) NULL,
	[PrimerApellido] [varchar](30) NULL,
	[SegundoApellido] [varchar](30) NULL,
	[FechaNacimiento] [date] NULL,
	[CUI] [varchar](32) NULL,
	[NIT] [varchar](32) NULL,
	[RazonSocial] [varchar](128) NULL,
	[Genero] [char](1) NOT NULL,
	[CodigoTipoSocioNegocio] [int] NULL,
 CONSTRAINT [PK_SocioNegocio] PRIMARY KEY CLUSTERED 
(
	[CodigoSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vProveedor]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vProveedor] AS
SELECT p.CodigoProveedor,
	CASE WHEN tsn.EsPersona = 0
		THEN n.RazonSocial
	ELSE 
		ISNULL(N.PrimerNombre,'') + ISNULL(n.PrimerApellido,'')
	END as nombreproveedor
FROM Proveedor AS p
INNER JOIN SocioNegocio AS n
ON P.CodigoSocio = N.CodigoSocio
INNER JOIN TipoSocioNegocio AS tsn
ON n.CodigoTipoSocioNegocio = tsn.CodigoTipoSocioNegocio

GO
/****** Object:  Table [dbo].[Automovil]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automovil](
	[CodigoAutomovil] [int] NOT NULL,
	[Placa] [varchar](32) NULL,
	[Color] [varchar](20) NOT NULL,
	[VIN] [varchar](60) NOT NULL,
	[Motor] [varchar](30) NULL,
	[Modelo] [int] NOT NULL,
	[CodigoLinea] [int] NULL,
	[CodigoMarca] [int] NULL,
 CONSTRAINT [PK_Automovil] PRIMARY KEY CLUSTERED 
(
	[CodigoAutomovil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[CodigoMarca] [int] NOT NULL,
	[Descripcion] [varchar](30) NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[CodigoMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Linea]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Linea](
	[CodigoMarca] [int] NOT NULL,
	[CodigoLinea] [int] NOT NULL,
	[Descripcion] [varchar](60) NULL,
 CONSTRAINT [PK_Linea] PRIMARY KEY CLUSTERED 
(
	[CodigoLinea] ASC,
	[CodigoMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vAutomovil]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vAutomovil]
AS
SELECT A.CodigoAutomovil, A.Placa, a.Modelo, m.Descripcion AS Marca, l.[Descripcion] AS Linea
FROM Automovil AS a
INNER JOIN Marca AS m
	ON a.CodigoMarca = m.CodigoMarca
INNER JOIN Linea AS l
	ON a.CodigoLinea = l.CodigoLinea
	AND a.CodigoMarca = l.CodigoMarca
GO
/****** Object:  View [dbo].[vProveedores]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vProveedores] AS
SELECT p.CodigoProveedor,
	CASE WHEN tsn.EsPersona = 1 THEN 
	sn.PrimerNombre + ' ' + sn.PrimerApellido
	ELSE
		sn.RazonSocial 
	END AS Nombre,
	sn.NIT
FROM Proveedor AS p
INNER JOIN SocioNegocio AS sn
ON p.CodigoSocio = sn.CodigoSocio
INNER JOIN TipoSocioNegocio AS tsn
ON sn.CodigoTipoSocioNegocio = tsn.CodigoTipoSocioNegocio
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[CodigoEmpleado] [int] NOT NULL,
	[CodigoSocio] [int] NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vEmpleados]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vEmpleados]
AS
SELECT e.CodigoEmpleado, 
	CASE WHEN tsn.EsPersona = 1 THEN sn.PrimerNombre  + ' ' + ISNULL(sn.SegundoNombre,'') ELSE sn.RazonSocial END as NombreEmpleado
FROM Empleado AS e
JOIN SocioNegocio AS sn
ON e.CodigoSocio = sn.CodigoSocio
JOIN TipoSocioNegocio AS tsn
ON sn.CodigoTipoSocioNegocio = tsn.CodigoTipoSocioNegocio
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[CodigoCliente] [int] NOT NULL,
	[CodigoSocio] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[CodigoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vClientess]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vClientess]
AS
SELECT e.CodigoCliente,
	CASE WHEN tsn.EsPersona = 1 THEN sn.PrimerNombre  + ' ' + ISNULL(sn.SegundoNombre,'') ELSE sn.RazonSocial END as NombreEmpleado
FROM Cliente AS e
JOIN SocioNegocio AS sn
ON e.CodigoSocio = sn.CodigoSocio
JOIN TipoSocioNegocio AS tsn
ON sn.CodigoTipoSocioNegocio = tsn.CodigoTipoSocioNegocio
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[CorellativoAsistencia] [int] NOT NULL,
	[CodigoEmpleado] [int] NOT NULL,
	[CodigoTipoAsistencia] [smallint] NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[FechaEgreso] [datetime] NOT NULL,
	[Origen] [varchar](128) NULL,
 CONSTRAINT [PK_Asistencia] PRIMARY KEY CLUSTERED 
(
	[CorellativoAsistencia] ASC,
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bodega]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bodega](
	[CodigoSucursal] [int] NOT NULL,
	[CodigoBodega] [int] NOT NULL,
	[Descripcion] [varchar](60) NULL,
 CONSTRAINT [PK_Bodega] PRIMARY KEY CLUSTERED 
(
	[CodigoBodega] ASC,
	[CodigoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[NumeroCita] [int] NOT NULL,
	[CodigoSucursal] [int] NULL,
	[CodigoCliente] [int] NULL,
	[FechaCita] [date] NULL,
	[FechaRecepcion] [datetime] NULL,
	[Observaciones] [varchar](200) NULL,
	[CodigoEmpleado] [int] NULL,
	[CodigoAutomovil] [int] NULL,
 CONSTRAINT [PK_Cita] PRIMARY KEY CLUSTERED 
(
	[NumeroCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContratroTrabajo]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContratroTrabajo](
	[FechaEmision] [date] NULL,
	[Estado] [char](1) NULL,
	[CodigoTaller] [int] NOT NULL,
	[CodigoEmpleado] [int] NOT NULL,
	[NumeroContrato] [int] NOT NULL,
	[CodigoDepartamentoTrabajo] [smallint] NULL,
	[CodigoPuestoTrabajo] [smallint] NULL,
 CONSTRAINT [PK_ContratroTrabajo] PRIMARY KEY CLUSTERED 
(
	[NumeroContrato] ASC,
	[CodigoTaller] ASC,
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cotizacion]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizacion](
	[NumeroRequision] [int] NOT NULL,
	[NumeroCotizacion] [int] NOT NULL,
	[FechaCotizacion] [date] NULL,
	[CodigoProveedore] [int] NULL,
 CONSTRAINT [PK_Cotizacion] PRIMARY KEY CLUSTERED 
(
	[NumeroRequision] ASC,
	[NumeroCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[CodigoDepartamento] [smallint] NOT NULL,
	[Descripcion] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[CodigoDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartamentoTrabajo]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartamentoTrabajo](
	[CodigoDepartamentoTrabajo] [smallint] NOT NULL,
	[Descripcion] [varchar](128) NULL,
 CONSTRAINT [PK_DepartamentoTrabajo] PRIMARY KEY CLUSTERED 
(
	[CodigoDepartamentoTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCotizacion]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCotizacion](
	[NumeroRequision] [int] NOT NULL,
	[NumeroCotizacion] [int] NOT NULL,
	[LineaCotizacion] [int] NOT NULL,
	[CodigoMaterial] [int] NULL,
	[Unidades] [numeric](14, 2) NOT NULL,
	[PrecioCompra] [money] NOT NULL,
 CONSTRAINT [PK_DetalleCotizacion] PRIMARY KEY CLUSTERED 
(
	[NumeroRequision] ASC,
	[NumeroCotizacion] ASC,
	[LineaCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleManoDeObra]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleManoDeObra](
	[NumeroOrden] [int] NOT NULL,
	[NumeroManoDeObra] [int] NOT NULL,
	[Unidades] [int] NOT NULL,
	[CodigoManoObra] [int] NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
	[CodigoEmpleado] [int] NULL,
	[Serie] [varchar](3) NULL,
	[Numero] [int] NULL,
	[CodigoTipoDocumentoFiscal] [int] NULL,
 CONSTRAINT [PK_DetalleManoDeObra] PRIMARY KEY CLUSTERED 
(
	[NumeroManoDeObra] ASC,
	[NumeroOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleMaterial]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleMaterial](
	[NumeroOrden] [int] NOT NULL,
	[NumeroManoDeObra] [int] NOT NULL,
	[CodigoMaterial] [int] NULL,
	[NumeroDetalleMaterial] [int] NOT NULL,
	[Unidades] [numeric](14, 2) NULL,
	[PrecioVenta] [money] NULL,
 CONSTRAINT [PK_DetalleMaterial] PRIMARY KEY CLUSTERED 
(
	[NumeroManoDeObra] ASC,
	[NumeroOrden] ASC,
	[NumeroDetalleMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleMovimientoMaterial]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleMovimientoMaterial](
	[NumeroMovimiento] [int] NOT NULL,
	[CodigoMaterial] [int] NULL,
	[LineaDetalleMovimiento] [int] NULL,
	[Unidades] [numeric](14, 2) NOT NULL,
 CONSTRAINT [PK_DetalleMovimientoMaterial] PRIMARY KEY CLUSTERED 
(
	[NumeroMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleNomina]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleNomina](
	[CodigoNomina] [int] NOT NULL,
	[NumeroDetalleNomina] [smallint] NOT NULL,
	[CodigoTipoMovimientoNomina] [smallint] NULL,
	[Valor] [money] NOT NULL,
	[CodigoEmpleado] [int] NULL,
	[CodigoSucursal] [int] NOT NULL,
 CONSTRAINT [PK_DetalleNomina] PRIMARY KEY CLUSTERED 
(
	[NumeroDetalleNomina] ASC,
	[CodigoNomina] ASC,
	[CodigoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePago]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePago](
	[Serie] [varchar](3) NOT NULL,
	[Numero] [int] NOT NULL,
	[CodigoTipoDocumentoFiscal] [int] NOT NULL,
	[NumeroPago] [int] NOT NULL,
	[Valor] [money] NULL,
	[CodigoTipoPago] [int] NULL,
 CONSTRAINT [PK_DetallePago] PRIMARY KEY CLUSTERED 
(
	[Serie] ASC,
	[Numero] ASC,
	[CodigoTipoDocumentoFiscal] ASC,
	[NumeroPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[NumeroPedido] [int] NOT NULL,
	[LineaPedido] [int] NOT NULL,
	[CodigoMaterial] [int] NULL,
	[Unidades] [numeric](14, 2) NULL,
	[UnidadesRecibidas] [numeric](14, 2) NULL,
	[PrecioCompra] [money] NULL,
 CONSTRAINT [PK_DetallePedido] PRIMARY KEY CLUSTERED 
(
	[LineaPedido] ASC,
	[NumeroPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostico](
	[NumeroDiagnostico] [int] NOT NULL,
	[NumeroCita] [int] NOT NULL,
	[CodigoDiagnostico] [int] NULL,
 CONSTRAINT [PK_Diagnostico] PRIMARY KEY CLUSTERED 
(
	[NumeroDiagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentoFiscal]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentoFiscal](
	[CodigoTipoDocumentoFiscal] [int] NOT NULL,
	[Serie] [varchar](3) NOT NULL,
	[Numero] [int] NOT NULL,
	[FechaEmision] [date] NOT NULL,
	[NIT] [varchar](15) NULL,
	[ValorTotal] [money] NOT NULL,
	[IVA] [money] NULL,
	[Estado] [varchar](1) NOT NULL,
 CONSTRAINT [PK_DocumentoFiscal] PRIMARY KEY CLUSTERED 
(
	[Serie] ASC,
	[Numero] ASC,
	[CodigoTipoDocumentoFiscal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EjemploTransaccion]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EjemploTransaccion](
	[Correlativo] [int] NULL,
	[FechaTransaccion] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManoObra]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManoObra](
	[CodigoManoObra] [int] NOT NULL,
	[Descripcion] [varchar](30) NULL,
	[Precio] [money] NULL,
 CONSTRAINT [PK_ManoObra] PRIMARY KEY CLUSTERED 
(
	[CodigoManoObra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[CodigoMaterial] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[PrecioCosto] [money] NOT NULL,
	[PrecioVenta] [money] NOT NULL,
	[Saldo] [numeric](14, 4) NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[CodigoMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoMaterial]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoMaterial](
	[CodigoSucursal] [int] NULL,
	[CodigoBodega] [int] NULL,
	[NumeroMovimiento] [int] NOT NULL,
	[FechaMovimiento] [date] NULL,
	[Referencia] [varchar](60) NULL,
	[CodigoTipoMovimiento] [int] NULL,
 CONSTRAINT [PK_MovimientoMaterial] PRIMARY KEY CLUSTERED 
(
	[NumeroMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[DepartamentoCodigo] [smallint] NOT NULL,
	[CodigoMunicipio] [smallint] NOT NULL,
	[Descripcion] [varchar](64) NULL,
 CONSTRAINT [PK_Municipio] PRIMARY KEY CLUSTERED 
(
	[CodigoMunicipio] ASC,
	[DepartamentoCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nomina]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nomina](
	[CodigoSucursal] [int] NOT NULL,
	[CodigoNomina] [int] NOT NULL,
	[Descripcion] [varchar](128) NOT NULL,
	[Inicio] [date] NOT NULL,
	[Fin] [date] NOT NULL,
 CONSTRAINT [PK_Nomina] PRIMARY KEY CLUSTERED 
(
	[CodigoNomina] ASC,
	[CodigoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NominaResumen]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NominaResumen](
	[CodigoNomina] [int] NOT NULL,
	[NumeroResumen] [smallint] NOT NULL,
	[CodigoEmpleado] [int] NULL,
	[Salario] [money] NULL,
	[AnticipoQuincenal] [money] NULL,
	[BonificacionIncentivo] [money] NULL,
	[Viatico] [money] NULL,
	[OtrosIngresos] [money] NULL,
	[TotalIngresos] [money] NULL,
	[IGSS] [money] NULL,
	[ISR] [money] NULL,
	[SeguroMedico] [money] NULL,
	[OtrosDescuentos] [money] NULL,
	[TotalDescuentos] [money] NULL,
	[Liquido] [money] NULL,
	[CodigoSucursal] [int] NOT NULL,
 CONSTRAINT [PK_NominaResumen] PRIMARY KEY CLUSTERED 
(
	[NumeroResumen] ASC,
	[CodigoNomina] ASC,
	[CodigoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdeDeTrabajo]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdeDeTrabajo](
	[NumeroOrden] [int] NOT NULL,
	[FechaOrden] [date] NOT NULL,
	[Estado] [char](2) NULL,
	[NumeroCita] [int] NULL,
 CONSTRAINT [PK_OrdeDeTrabajo] PRIMARY KEY CLUSTERED 
(
	[NumeroOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[NumeroRequision] [int] NULL,
	[NumeroCotizacion] [int] NULL,
	[NumeroPedido] [int] NOT NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[NumeroPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PuestoTrabajo]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuestoTrabajo](
	[CodigoPuestoTrabajo] [smallint] NOT NULL,
	[Descripcion] [varchar](128) NULL,
 CONSTRAINT [PK_PuestoTrabajo] PRIMARY KEY CLUSTERED 
(
	[CodigoPuestoTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requisicion]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requisicion](
	[NumeroRequision] [int] NOT NULL,
	[FechaRequisicion] [date] NULL,
	[CodigoSucursal] [int] NULL,
	[CodigoEmpleado] [int] NULL,
 CONSTRAINT [PK_Requisicion] PRIMARY KEY CLUSTERED 
(
	[NumeroRequision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocioNegocioDireccion]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocioNegocioDireccion](
	[CodigoSocioNegocioDireccion] [int] NOT NULL,
	[Calle] [varchar](30) NULL,
	[Avenida] [varchar](30) NULL,
	[Otro] [varchar](40) NULL,
	[Zona] [smallint] NULL,
	[Colonia] [varchar](30) NULL,
	[CodigoMunicipio] [smallint] NULL,
	[DepartamentoCodigo] [smallint] NULL,
	[CodigoTipoDireccion] [smallint] NULL,
	[CodigoSocioNegocio] [int] NULL,
 CONSTRAINT [PK_SocioNegocioDireccion] PRIMARY KEY CLUSTERED 
(
	[CodigoSocioNegocioDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocioNegocioTelefono]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocioNegocioTelefono](
	[CodigoSocio] [int] NOT NULL,
	[CodigoSocioNegocioTelefono] [int] NOT NULL,
	[Numero] [varchar](15) NULL,
	[CodigoTipoTelefono] [smallint] NULL,
 CONSTRAINT [PK_SocioNegocioTelefono] PRIMARY KEY CLUSTERED 
(
	[CodigoSocio] ASC,
	[CodigoSocioNegocioTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[CodigoSucursal] [int] NOT NULL,
	[NombreSucursal] [varchar](60) NOT NULL,
	[CodigoTaller] [int] NOT NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[CodigoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SucursalDireccion]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SucursalDireccion](
	[CodigoSucursal] [int] NOT NULL,
	[CodigoSucursalDireccion] [int] NOT NULL,
	[Calle] [varchar](30) NULL,
	[Avenida] [varchar](30) NULL,
	[Otro] [varchar](40) NULL,
	[Zona] [smallint] NULL,
	[Colonia] [varchar](30) NULL,
	[CodigoMunicipio] [smallint] NULL,
	[DepartamentoCodigo] [smallint] NULL,
	[CodigoTipoDireccion] [smallint] NULL,
 CONSTRAINT [PK_SucursalDireccion] PRIMARY KEY CLUSTERED 
(
	[CodigoSucursalDireccion] ASC,
	[CodigoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SucursalTelefono]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SucursalTelefono](
	[CodigoSucursal] [int] NOT NULL,
	[CodigoSucursalTelefono] [int] NOT NULL,
	[Numero] [varchar](15) NULL,
	[CodigoTipoTelefono] [smallint] NULL,
 CONSTRAINT [PK_SucursalTelefono] PRIMARY KEY CLUSTERED 
(
	[CodigoSucursal] ASC,
	[CodigoSucursalTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taller]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taller](
	[CodigoTaller] [int] NOT NULL,
	[RazonSocial] [varchar](60) NOT NULL,
	[NombreComercial] [varchar](60) NOT NULL,
	[NIT] [varchar](20) NULL,
 CONSTRAINT [PK_Taller] PRIMARY KEY CLUSTERED 
(
	[CodigoTaller] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAsistencia]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAsistencia](
	[CodigoTipoAsistencia] [smallint] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
 CONSTRAINT [PK_TipoAsistencia] PRIMARY KEY CLUSTERED 
(
	[CodigoTipoAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDiagnostico]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDiagnostico](
	[CodigoDiagnostico] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
 CONSTRAINT [PK_TipoDiagnostico] PRIMARY KEY CLUSTERED 
(
	[CodigoDiagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDireccion]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDireccion](
	[CodigoTipoDireccion] [smallint] NOT NULL,
	[Descripcion] [varchar](64) NOT NULL,
 CONSTRAINT [PK_TipoDireccion] PRIMARY KEY CLUSTERED 
(
	[CodigoTipoDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumentoFiscal]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumentoFiscal](
	[CodigoTipoDocumentoFiscal] [int] NOT NULL,
	[Descripcion] [varchar](64) NULL,
 CONSTRAINT [PK_TipoDocumentoFiscal] PRIMARY KEY CLUSTERED 
(
	[CodigoTipoDocumentoFiscal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimiento]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimiento](
	[CodigoTipoMovimiento] [int] NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[Naturaleza] [tinyint] NOT NULL,
 CONSTRAINT [PK_TipoMovimiento] PRIMARY KEY CLUSTERED 
(
	[CodigoTipoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimientoNomina]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimientoNomina](
	[CodigoTipoMovimientoNomina] [smallint] NOT NULL,
	[Descripcion] [varchar](128) NOT NULL,
	[Naturaleza] [smallint] NOT NULL,
	[AfectoIGSS] [bit] NOT NULL,
	[AfectoISR] [bit] NOT NULL,
 CONSTRAINT [PK_TipoMovimientoNomina] PRIMARY KEY CLUSTERED 
(
	[CodigoTipoMovimientoNomina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPago](
	[CodigoTipoPago] [int] NOT NULL,
	[Descripcion] [varchar](64) NULL,
 CONSTRAINT [PK_TipoPago] PRIMARY KEY CLUSTERED 
(
	[CodigoTipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTelefono]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTelefono](
	[CodigoTipoTelefono] [smallint] NOT NULL,
	[Descripcion] [varchar](64) NOT NULL,
 CONSTRAINT [PK_TipoTelefono] PRIMARY KEY CLUSTERED 
(
	[CodigoTipoTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 20/05/2026 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] NOT NULL,
	[Vendedor] [varchar](50) NULL,
	[TotalVentas] [int] NULL,
	[Anio] [int] NULL,
	[Mes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship50]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship50] ON [dbo].[Asistencia]
(
	[CodigoTipoAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship5]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship5] ON [dbo].[Automovil]
(
	[CodigoLinea] ASC,
	[CodigoMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship17]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship17] ON [dbo].[Cita]
(
	[CodigoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship18]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship18] ON [dbo].[Cita]
(
	[CodigoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship19]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship19] ON [dbo].[Cita]
(
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship20]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship20] ON [dbo].[Cita]
(
	[CodigoAutomovil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship3]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship3] ON [dbo].[Cliente]
(
	[CodigoSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship58]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship58] ON [dbo].[ContratroTrabajo]
(
	[CodigoDepartamentoTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship59]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship59] ON [dbo].[ContratroTrabajo]
(
	[CodigoPuestoTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship38]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship38] ON [dbo].[Cotizacion]
(
	[CodigoProveedore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship37]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship37] ON [dbo].[DetalleCotizacion]
(
	[CodigoMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship24]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship24] ON [dbo].[DetalleManoDeObra]
(
	[CodigoManoObra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship26]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship26] ON [dbo].[DetalleManoDeObra]
(
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Relationship30]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship30] ON [dbo].[DetalleManoDeObra]
(
	[Serie] ASC,
	[Numero] ASC,
	[CodigoTipoDocumentoFiscal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship27]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship27] ON [dbo].[DetalleMaterial]
(
	[CodigoMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship47]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship47] ON [dbo].[DetalleMovimientoMaterial]
(
	[CodigoMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship52]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship52] ON [dbo].[DetalleNomina]
(
	[CodigoTipoMovimientoNomina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship54]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship54] ON [dbo].[DetalleNomina]
(
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship32]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship32] ON [dbo].[DetallePago]
(
	[CodigoTipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship42]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship42] ON [dbo].[DetallePedido]
(
	[CodigoMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship21]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship21] ON [dbo].[Diagnostico]
(
	[NumeroCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship22]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship22] ON [dbo].[Diagnostico]
(
	[CodigoDiagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship6]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship6] ON [dbo].[Empleado]
(
	[CodigoSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship44]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship44] ON [dbo].[MovimientoMaterial]
(
	[CodigoBodega] ASC,
	[CodigoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship45]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship45] ON [dbo].[MovimientoMaterial]
(
	[CodigoTipoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship55]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship55] ON [dbo].[NominaResumen]
(
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship23]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship23] ON [dbo].[OrdeDeTrabajo]
(
	[NumeroCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship40]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship40] ON [dbo].[Pedido]
(
	[NumeroRequision] ASC,
	[NumeroCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship33]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship33] ON [dbo].[Proveedor]
(
	[CodigoSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship34]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship34] ON [dbo].[Requisicion]
(
	[CodigoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship48]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship48] ON [dbo].[Requisicion]
(
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship2]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship2] ON [dbo].[SocioNegocio]
(
	[CodigoTipoSocioNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship10]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship10] ON [dbo].[SocioNegocioDireccion]
(
	[CodigoTipoDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship8]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship8] ON [dbo].[SocioNegocioDireccion]
(
	[CodigoMunicipio] ASC,
	[DepartamentoCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship1]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship1] ON [dbo].[Sucursal]
(
	[CodigoTaller] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship10]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship10] ON [dbo].[SucursalDireccion]
(
	[CodigoTipoDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship8]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship8] ON [dbo].[SucursalDireccion]
(
	[CodigoMunicipio] ASC,
	[DepartamentoCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship12]    Script Date: 20/05/2026 17:51:42 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship12] ON [dbo].[SucursalTelefono]
(
	[CodigoTipoTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EjemploTransaccion] ADD  DEFAULT (getdate()) FOR [FechaTransaccion]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [Relationship49] FOREIGN KEY([CodigoEmpleado])
REFERENCES [dbo].[Empleado] ([CodigoEmpleado])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [Relationship49]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [Relationship50] FOREIGN KEY([CodigoTipoAsistencia])
REFERENCES [dbo].[TipoAsistencia] ([CodigoTipoAsistencia])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [Relationship50]
GO
ALTER TABLE [dbo].[Automovil]  WITH CHECK ADD  CONSTRAINT [Relationship5] FOREIGN KEY([CodigoLinea], [CodigoMarca])
REFERENCES [dbo].[Linea] ([CodigoLinea], [CodigoMarca])
GO
ALTER TABLE [dbo].[Automovil] CHECK CONSTRAINT [Relationship5]
GO
ALTER TABLE [dbo].[Bodega]  WITH CHECK ADD  CONSTRAINT [Relationship43] FOREIGN KEY([CodigoSucursal])
REFERENCES [dbo].[Sucursal] ([CodigoSucursal])
GO
ALTER TABLE [dbo].[Bodega] CHECK CONSTRAINT [Relationship43]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [Relationship17] FOREIGN KEY([CodigoSucursal])
REFERENCES [dbo].[Sucursal] ([CodigoSucursal])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [Relationship17]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [Relationship18] FOREIGN KEY([CodigoCliente])
REFERENCES [dbo].[Cliente] ([CodigoCliente])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [Relationship18]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [Relationship19] FOREIGN KEY([CodigoEmpleado])
REFERENCES [dbo].[Empleado] ([CodigoEmpleado])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [Relationship19]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [Relationship20] FOREIGN KEY([CodigoAutomovil])
REFERENCES [dbo].[Automovil] ([CodigoAutomovil])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [Relationship20]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [Relationship3] FOREIGN KEY([CodigoSocio])
REFERENCES [dbo].[SocioNegocio] ([CodigoSocio])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [Relationship3]
GO
ALTER TABLE [dbo].[ContratroTrabajo]  WITH CHECK ADD  CONSTRAINT [Relationship56] FOREIGN KEY([CodigoTaller])
REFERENCES [dbo].[Taller] ([CodigoTaller])
GO
ALTER TABLE [dbo].[ContratroTrabajo] CHECK CONSTRAINT [Relationship56]
GO
ALTER TABLE [dbo].[ContratroTrabajo]  WITH CHECK ADD  CONSTRAINT [Relationship57] FOREIGN KEY([CodigoEmpleado])
REFERENCES [dbo].[Empleado] ([CodigoEmpleado])
GO
ALTER TABLE [dbo].[ContratroTrabajo] CHECK CONSTRAINT [Relationship57]
GO
ALTER TABLE [dbo].[ContratroTrabajo]  WITH CHECK ADD  CONSTRAINT [Relationship58] FOREIGN KEY([CodigoDepartamentoTrabajo])
REFERENCES [dbo].[DepartamentoTrabajo] ([CodigoDepartamentoTrabajo])
GO
ALTER TABLE [dbo].[ContratroTrabajo] CHECK CONSTRAINT [Relationship58]
GO
ALTER TABLE [dbo].[ContratroTrabajo]  WITH CHECK ADD  CONSTRAINT [Relationship59] FOREIGN KEY([CodigoPuestoTrabajo])
REFERENCES [dbo].[PuestoTrabajo] ([CodigoPuestoTrabajo])
GO
ALTER TABLE [dbo].[ContratroTrabajo] CHECK CONSTRAINT [Relationship59]
GO
ALTER TABLE [dbo].[Cotizacion]  WITH CHECK ADD  CONSTRAINT [Relationship35] FOREIGN KEY([NumeroRequision])
REFERENCES [dbo].[Requisicion] ([NumeroRequision])
GO
ALTER TABLE [dbo].[Cotizacion] CHECK CONSTRAINT [Relationship35]
GO
ALTER TABLE [dbo].[Cotizacion]  WITH CHECK ADD  CONSTRAINT [Relationship38] FOREIGN KEY([CodigoProveedore])
REFERENCES [dbo].[Proveedor] ([CodigoProveedor])
GO
ALTER TABLE [dbo].[Cotizacion] CHECK CONSTRAINT [Relationship38]
GO
ALTER TABLE [dbo].[DetalleCotizacion]  WITH CHECK ADD  CONSTRAINT [Relationship36] FOREIGN KEY([NumeroRequision], [NumeroCotizacion])
REFERENCES [dbo].[Cotizacion] ([NumeroRequision], [NumeroCotizacion])
GO
ALTER TABLE [dbo].[DetalleCotizacion] CHECK CONSTRAINT [Relationship36]
GO
ALTER TABLE [dbo].[DetalleCotizacion]  WITH CHECK ADD  CONSTRAINT [Relationship37] FOREIGN KEY([CodigoMaterial])
REFERENCES [dbo].[Material] ([CodigoMaterial])
GO
ALTER TABLE [dbo].[DetalleCotizacion] CHECK CONSTRAINT [Relationship37]
GO
ALTER TABLE [dbo].[DetalleManoDeObra]  WITH CHECK ADD  CONSTRAINT [Relationship24] FOREIGN KEY([CodigoManoObra])
REFERENCES [dbo].[ManoObra] ([CodigoManoObra])
GO
ALTER TABLE [dbo].[DetalleManoDeObra] CHECK CONSTRAINT [Relationship24]
GO
ALTER TABLE [dbo].[DetalleManoDeObra]  WITH CHECK ADD  CONSTRAINT [Relationship25] FOREIGN KEY([NumeroOrden])
REFERENCES [dbo].[OrdeDeTrabajo] ([NumeroOrden])
GO
ALTER TABLE [dbo].[DetalleManoDeObra] CHECK CONSTRAINT [Relationship25]
GO
ALTER TABLE [dbo].[DetalleManoDeObra]  WITH CHECK ADD  CONSTRAINT [Relationship26] FOREIGN KEY([CodigoEmpleado])
REFERENCES [dbo].[Empleado] ([CodigoEmpleado])
GO
ALTER TABLE [dbo].[DetalleManoDeObra] CHECK CONSTRAINT [Relationship26]
GO
ALTER TABLE [dbo].[DetalleManoDeObra]  WITH CHECK ADD  CONSTRAINT [Relationship30] FOREIGN KEY([Serie], [Numero], [CodigoTipoDocumentoFiscal])
REFERENCES [dbo].[DocumentoFiscal] ([Serie], [Numero], [CodigoTipoDocumentoFiscal])
GO
ALTER TABLE [dbo].[DetalleManoDeObra] CHECK CONSTRAINT [Relationship30]
GO
ALTER TABLE [dbo].[DetalleMaterial]  WITH CHECK ADD  CONSTRAINT [Relationship27] FOREIGN KEY([CodigoMaterial])
REFERENCES [dbo].[Material] ([CodigoMaterial])
GO
ALTER TABLE [dbo].[DetalleMaterial] CHECK CONSTRAINT [Relationship27]
GO
ALTER TABLE [dbo].[DetalleMaterial]  WITH CHECK ADD  CONSTRAINT [Relationship28] FOREIGN KEY([NumeroManoDeObra], [NumeroOrden])
REFERENCES [dbo].[DetalleManoDeObra] ([NumeroManoDeObra], [NumeroOrden])
GO
ALTER TABLE [dbo].[DetalleMaterial] CHECK CONSTRAINT [Relationship28]
GO
ALTER TABLE [dbo].[DetalleMovimientoMaterial]  WITH CHECK ADD  CONSTRAINT [Relationship46] FOREIGN KEY([NumeroMovimiento])
REFERENCES [dbo].[MovimientoMaterial] ([NumeroMovimiento])
GO
ALTER TABLE [dbo].[DetalleMovimientoMaterial] CHECK CONSTRAINT [Relationship46]
GO
ALTER TABLE [dbo].[DetalleMovimientoMaterial]  WITH CHECK ADD  CONSTRAINT [Relationship47] FOREIGN KEY([CodigoMaterial])
REFERENCES [dbo].[Material] ([CodigoMaterial])
GO
ALTER TABLE [dbo].[DetalleMovimientoMaterial] CHECK CONSTRAINT [Relationship47]
GO
ALTER TABLE [dbo].[DetalleNomina]  WITH CHECK ADD  CONSTRAINT [Relationship51] FOREIGN KEY([CodigoNomina], [CodigoSucursal])
REFERENCES [dbo].[Nomina] ([CodigoNomina], [CodigoSucursal])
GO
ALTER TABLE [dbo].[DetalleNomina] CHECK CONSTRAINT [Relationship51]
GO
ALTER TABLE [dbo].[DetalleNomina]  WITH CHECK ADD  CONSTRAINT [Relationship52] FOREIGN KEY([CodigoTipoMovimientoNomina])
REFERENCES [dbo].[TipoMovimientoNomina] ([CodigoTipoMovimientoNomina])
GO
ALTER TABLE [dbo].[DetalleNomina] CHECK CONSTRAINT [Relationship52]
GO
ALTER TABLE [dbo].[DetalleNomina]  WITH CHECK ADD  CONSTRAINT [Relationship54] FOREIGN KEY([CodigoEmpleado])
REFERENCES [dbo].[Empleado] ([CodigoEmpleado])
GO
ALTER TABLE [dbo].[DetalleNomina] CHECK CONSTRAINT [Relationship54]
GO
ALTER TABLE [dbo].[DetallePago]  WITH CHECK ADD  CONSTRAINT [Relationship31] FOREIGN KEY([Serie], [Numero], [CodigoTipoDocumentoFiscal])
REFERENCES [dbo].[DocumentoFiscal] ([Serie], [Numero], [CodigoTipoDocumentoFiscal])
GO
ALTER TABLE [dbo].[DetallePago] CHECK CONSTRAINT [Relationship31]
GO
ALTER TABLE [dbo].[DetallePago]  WITH CHECK ADD  CONSTRAINT [Relationship32] FOREIGN KEY([CodigoTipoPago])
REFERENCES [dbo].[TipoPago] ([CodigoTipoPago])
GO
ALTER TABLE [dbo].[DetallePago] CHECK CONSTRAINT [Relationship32]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [Relationship41] FOREIGN KEY([NumeroPedido])
REFERENCES [dbo].[Pedido] ([NumeroPedido])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [Relationship41]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [Relationship42] FOREIGN KEY([CodigoMaterial])
REFERENCES [dbo].[Material] ([CodigoMaterial])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [Relationship42]
GO
ALTER TABLE [dbo].[Diagnostico]  WITH CHECK ADD  CONSTRAINT [Relationship21] FOREIGN KEY([NumeroCita])
REFERENCES [dbo].[Cita] ([NumeroCita])
GO
ALTER TABLE [dbo].[Diagnostico] CHECK CONSTRAINT [Relationship21]
GO
ALTER TABLE [dbo].[Diagnostico]  WITH CHECK ADD  CONSTRAINT [Relationship22] FOREIGN KEY([CodigoDiagnostico])
REFERENCES [dbo].[TipoDiagnostico] ([CodigoDiagnostico])
GO
ALTER TABLE [dbo].[Diagnostico] CHECK CONSTRAINT [Relationship22]
GO
ALTER TABLE [dbo].[DocumentoFiscal]  WITH CHECK ADD  CONSTRAINT [Relationship29] FOREIGN KEY([CodigoTipoDocumentoFiscal])
REFERENCES [dbo].[TipoDocumentoFiscal] ([CodigoTipoDocumentoFiscal])
GO
ALTER TABLE [dbo].[DocumentoFiscal] CHECK CONSTRAINT [Relationship29]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [Relationship6] FOREIGN KEY([CodigoSocio])
REFERENCES [dbo].[SocioNegocio] ([CodigoSocio])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [Relationship6]
GO
ALTER TABLE [dbo].[Linea]  WITH CHECK ADD  CONSTRAINT [Relationship4] FOREIGN KEY([CodigoMarca])
REFERENCES [dbo].[Marca] ([CodigoMarca])
GO
ALTER TABLE [dbo].[Linea] CHECK CONSTRAINT [Relationship4]
GO
ALTER TABLE [dbo].[MovimientoMaterial]  WITH CHECK ADD  CONSTRAINT [Relationship44] FOREIGN KEY([CodigoBodega], [CodigoSucursal])
REFERENCES [dbo].[Bodega] ([CodigoBodega], [CodigoSucursal])
GO
ALTER TABLE [dbo].[MovimientoMaterial] CHECK CONSTRAINT [Relationship44]
GO
ALTER TABLE [dbo].[MovimientoMaterial]  WITH CHECK ADD  CONSTRAINT [Relationship45] FOREIGN KEY([CodigoTipoMovimiento])
REFERENCES [dbo].[TipoMovimiento] ([CodigoTipoMovimiento])
GO
ALTER TABLE [dbo].[MovimientoMaterial] CHECK CONSTRAINT [Relationship45]
GO
ALTER TABLE [dbo].[Municipio]  WITH CHECK ADD  CONSTRAINT [Relationship7] FOREIGN KEY([DepartamentoCodigo])
REFERENCES [dbo].[Departamento] ([CodigoDepartamento])
GO
ALTER TABLE [dbo].[Municipio] CHECK CONSTRAINT [Relationship7]
GO
ALTER TABLE [dbo].[Nomina]  WITH CHECK ADD  CONSTRAINT [Relationship60] FOREIGN KEY([CodigoSucursal])
REFERENCES [dbo].[Sucursal] ([CodigoSucursal])
GO
ALTER TABLE [dbo].[Nomina] CHECK CONSTRAINT [Relationship60]
GO
ALTER TABLE [dbo].[NominaResumen]  WITH CHECK ADD  CONSTRAINT [Relationship53] FOREIGN KEY([CodigoNomina], [CodigoSucursal])
REFERENCES [dbo].[Nomina] ([CodigoNomina], [CodigoSucursal])
GO
ALTER TABLE [dbo].[NominaResumen] CHECK CONSTRAINT [Relationship53]
GO
ALTER TABLE [dbo].[NominaResumen]  WITH CHECK ADD  CONSTRAINT [Relationship55] FOREIGN KEY([CodigoEmpleado])
REFERENCES [dbo].[Empleado] ([CodigoEmpleado])
GO
ALTER TABLE [dbo].[NominaResumen] CHECK CONSTRAINT [Relationship55]
GO
ALTER TABLE [dbo].[OrdeDeTrabajo]  WITH CHECK ADD  CONSTRAINT [Relationship23] FOREIGN KEY([NumeroCita])
REFERENCES [dbo].[Cita] ([NumeroCita])
GO
ALTER TABLE [dbo].[OrdeDeTrabajo] CHECK CONSTRAINT [Relationship23]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [Relationship40] FOREIGN KEY([NumeroRequision], [NumeroCotizacion])
REFERENCES [dbo].[Cotizacion] ([NumeroRequision], [NumeroCotizacion])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [Relationship40]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [Relationship33] FOREIGN KEY([CodigoSocio])
REFERENCES [dbo].[SocioNegocio] ([CodigoSocio])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [Relationship33]
GO
ALTER TABLE [dbo].[Requisicion]  WITH CHECK ADD  CONSTRAINT [Relationship34] FOREIGN KEY([CodigoSucursal])
REFERENCES [dbo].[Sucursal] ([CodigoSucursal])
GO
ALTER TABLE [dbo].[Requisicion] CHECK CONSTRAINT [Relationship34]
GO
ALTER TABLE [dbo].[Requisicion]  WITH CHECK ADD  CONSTRAINT [Relationship48] FOREIGN KEY([CodigoEmpleado])
REFERENCES [dbo].[Empleado] ([CodigoEmpleado])
GO
ALTER TABLE [dbo].[Requisicion] CHECK CONSTRAINT [Relationship48]
GO
ALTER TABLE [dbo].[SocioNegocio]  WITH CHECK ADD  CONSTRAINT [Relationship2] FOREIGN KEY([CodigoTipoSocioNegocio])
REFERENCES [dbo].[TipoSocioNegocio] ([CodigoTipoSocioNegocio])
GO
ALTER TABLE [dbo].[SocioNegocio] CHECK CONSTRAINT [Relationship2]
GO
ALTER TABLE [dbo].[SocioNegocioDireccion]  WITH CHECK ADD  CONSTRAINT [Relationship15] FOREIGN KEY([CodigoTipoDireccion])
REFERENCES [dbo].[TipoDireccion] ([CodigoTipoDireccion])
GO
ALTER TABLE [dbo].[SocioNegocioDireccion] CHECK CONSTRAINT [Relationship15]
GO
ALTER TABLE [dbo].[SocioNegocioDireccion]  WITH CHECK ADD  CONSTRAINT [Relationship16] FOREIGN KEY([CodigoMunicipio], [DepartamentoCodigo])
REFERENCES [dbo].[Municipio] ([CodigoMunicipio], [DepartamentoCodigo])
GO
ALTER TABLE [dbo].[SocioNegocioDireccion] CHECK CONSTRAINT [Relationship16]
GO
ALTER TABLE [dbo].[SocioNegocioTelefono]  WITH CHECK ADD  CONSTRAINT [FK_SocioNegocioTelefono_SocioNegocio] FOREIGN KEY([CodigoSocio])
REFERENCES [dbo].[SocioNegocio] ([CodigoSocio])
GO
ALTER TABLE [dbo].[SocioNegocioTelefono] CHECK CONSTRAINT [FK_SocioNegocioTelefono_SocioNegocio]
GO
ALTER TABLE [dbo].[SocioNegocioTelefono]  WITH CHECK ADD  CONSTRAINT [FK_SocioNegocioTelefono_TipoTelefono] FOREIGN KEY([CodigoTipoTelefono])
REFERENCES [dbo].[TipoTelefono] ([CodigoTipoTelefono])
GO
ALTER TABLE [dbo].[SocioNegocioTelefono] CHECK CONSTRAINT [FK_SocioNegocioTelefono_TipoTelefono]
GO
ALTER TABLE [dbo].[Sucursal]  WITH CHECK ADD  CONSTRAINT [TallerPosee] FOREIGN KEY([CodigoTaller])
REFERENCES [dbo].[Taller] ([CodigoTaller])
GO
ALTER TABLE [dbo].[Sucursal] CHECK CONSTRAINT [TallerPosee]
GO
ALTER TABLE [dbo].[SucursalDireccion]  WITH CHECK ADD  CONSTRAINT [Relationship10] FOREIGN KEY([CodigoTipoDireccion])
REFERENCES [dbo].[TipoDireccion] ([CodigoTipoDireccion])
GO
ALTER TABLE [dbo].[SucursalDireccion] CHECK CONSTRAINT [Relationship10]
GO
ALTER TABLE [dbo].[SucursalDireccion]  WITH CHECK ADD  CONSTRAINT [Relationship8] FOREIGN KEY([CodigoMunicipio], [DepartamentoCodigo])
REFERENCES [dbo].[Municipio] ([CodigoMunicipio], [DepartamentoCodigo])
GO
ALTER TABLE [dbo].[SucursalDireccion] CHECK CONSTRAINT [Relationship8]
GO
ALTER TABLE [dbo].[SucursalDireccion]  WITH CHECK ADD  CONSTRAINT [Relationship9] FOREIGN KEY([CodigoSucursal])
REFERENCES [dbo].[Sucursal] ([CodigoSucursal])
GO
ALTER TABLE [dbo].[SucursalDireccion] CHECK CONSTRAINT [Relationship9]
GO
